<p>
  <mat-toolbar color="primary">
    <!-- <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
    >
      <mat-icon>menu</mat-icon>
    </button> -->
    <span>DotNet EndPoint Testing</span>
    <span class="example-spacer"></span>
    <button
      routerLink="/"
      class="example-icon first-button"
      aria-label="Example icon-button with heart icon"
    >
      Students
      <mat-icon>diversity_3</mat-icon>
    </button>
    <button
      routerLink="/teacher"
      class="example-icon"
      aria-label="Example icon-button with share icon"
    >
      Teachers
      <mat-icon>person</mat-icon>
    </button>
  </mat-toolbar>
</p>
<router-outlet></router-outlet>
